<div class="follow">
        
  <div class="flexcontainer">
                <div class="flex"><a target="_blank" href="http://www.facebook.com"> <i class="fa fa-facebook-square fa-3x"></i>
                    <div class="popup" style="left: -30px"><div class="text">op Facebook</div></div>
                </a></div>
                <div class="flex width-small"></div>
                <div class="flex"><a target="_blank" href="http://www.twitter.com"> <i class="fa fa-twitter-square fa-3x"></i>
                     <div class="popup" style="left: -25px"><div class="text">op Twitter</div></div>
                </a></div>
                <div class="flex width-small"></div>
                <div class="flex"><a target="_blank" href="http://www.instagram.com"> <i class="fa fa-instagram fa-3x"></i>
                     <div class="popup" style="left: -30px"><div class="text">op Instagram</div></div>
                </a></div>
                <div class="flex width-small"></div>
                <div class="flex"><a target="_blank" href="http://www.google.com"> <i class="fa fa-google-plus-square fa-3x"></i>
                   <div class="popup" style="left: -25px"><div class="text">op Google+</div></div>
                </a></div>
                <div class="flex width-small"></div>
                <div class="flex"><a target="_blank" href="http://www.linkedin.com"> <i class="fa fa-linkedin-square fa-3x"></i>
                   <div class="popup" style="left: -25px"><div class="text">op LinkedIn</div></div>
                </a></div>


            </div>

</div>


