<div class="page-row headlines">
    <div class="container">
   

      
          <div class="row"> 

                  <div class="col-md-4">
                        <wd-headline titel="Gebruiksvriendelijk" image="gebruiksvriendelijk.png" imagetext="gebruiksvriendelijke websites" animation="fadeInRight">
                              Het belangrijkste aspect aan een website is of de bezoeker <i>eenvoudig</i> de informatie kan terugvinden die hij nodig heeft.
                        </wd-headline>
                        <div class="height-xlarge visible-xs-block visible-sm-block"></div>
                  </div>
                  <div class="col-md-4">
                        <wd-headline titel="Professioneel" image="professioneel.png" imagetext="professionele websites" animation="fadeInUp">
                              Uw website is het <i>uithangbord</i> voor uw bedrijf. Het is vaak het eerste dat uw potentiële klanten te zien krijgen. Daarom is het uiterst belangrijk om een professionele indruk te maken.
                        </wd-headline>
                         <div class="height-xlarge visible-xs-block visible-sm-block"></div>
                  </div>
                                    <div class="col-md-4">
                        <wd-headline titel="Betaalbaar" image="betaalbaar.png" imagetext="betaalbare websites" animation="fadeInLeft">
                              Het maken van websites is niet mijn hoofdberoep en daarom kan ik websites aanbieden die veel <i>goedkoper</i> zijn dan de geldende marktprijzen.
                        </wd-headline>
                  </div>
          </div>
          <div class="height-xlarge"></div>
          <div class="row">
                  <div class="col-md-3 col-sm-6">
                        <wd-headline titel="Responsief" image="responsief.png" imagetext="responsieve websites" animation="fadeInRight">
                              Een website wordt niet enkel geraadpleegd op een <i>pc</i>. Ook op een <i>smartphone</i> en <i>tablet</i> dient uw website goed toegankelijk te zijn.
                        </wd-headline>
                         <div class="height-xlarge visible-xs-block"></div>
                  </div>
                  <div class="col-md-3  col-sm-6">
                        <wd-headline titel="SEO" image="seo.png" imagetext="search engine optimized" animation="fadeInRight">
                              Uw website wordt geoptimaliseerd voor zoekmachines (zoals <i>Google</i>) zodat uw bedrijf vindbaar wordt op internet.
                        </wd-headline>
                         <div class="height-xlarge visible-xs-block visible-sm-block"></div>
                  </div>
                  <div class="col-md-3  col-sm-6">
                        <wd-headline titel="Hosting" image="hosting.png" imagetext="hosting voor uw website" animation="fadeInLeft">
                              Wij kopen voor u een domeinnaam aan en reserveren de nodige webruimte zodat uw website <i>op het internet</i> terecht komt.
                        </wd-headline>
                         <div class="height-xlarge visible-xs-block"></div>
                  </div>
                  <div class="col-md-3  col-sm-6">
                        <wd-headline titel="Uw partner" image="partner.png" imagetext="uw internet partner" animation="fadeInLeft">
                              Laat al het werk dat nodig is om een website te maken en te onderhouden over aan een <i>partner</i>. Zo kan u al uw tijd optimaal besteden aan huw eigen business.
                        </wd-headline>
                  </div>
          </div>
          
    </div>
</div>
        