<div class="about">
        
        <div class="page-row over-mij">
                <div class="container ">
                        <wd-pageheader header="Over mij"></wd-pageheader>
                        
                        <div class="row ">
                                <div class="col-md-12">
                                   
                                        <p>
                                                Sinds 2000 ben ik professioneel actief als software developer. Voornamelijk met het ontwikkelen van webtoepassingen voor grote ondernemingen heb ik veel ervaring. Hierbij besteed ik steeds extra aandacht aan de creatie van een optimale gebruikers-ervaring.  
                                        </p>
                                        <p>
                                                In 2017 startte ik met <span class="focus">WEBDES</span>. Zo kan ik mij verder verdiepen in het 
                                         
                                                <span class="passie">ontwerpen van gebruiksvriendelijke websites.</span>
                                        </p>
                                        
                                </div>
                               
                        </div>
                        
                </div>
        </div>

            <div class="page-row-no-space dennis">
                <div class="container">
                        <div class="row">
                                <div class="col-md-3 col-md-offset-1">
                                        <img src="../../img/dennisvandessel.jpg" alt="Dennis Van Dessel">
                                </div>
                                <div class="col-md-7 col-md-offset-1 quote">
                                        <div class="quote-container">
                                                <div class="quote-icon-left"><i class="fa fa-quote-left fa-4x"></i></div>
                                                <div class="quote-text">
                                                        Mijn doel is steeds om een website te maken waarop de bezoeker &#233;&#233;nvoudig vindt wat hij zoekt.
                                                </div>
                                                 <div class="quote-icon-right"><i class="fa fa-quote-right fa-4x"></i></div>
                                               
                                        </div>
                                   
                                </div>
                        </div>
                        
                </div>
        
        </div>
        
        <div class="page-row ervaring">
                <div class="container">
                        <h2>Overzicht werkervaring</h2>
                        
                      
                                        <wd-timeline></wd-timeline>
                        
                </div>
        </div>

</div>




