@import "../../styles/vars";

@mixin menuitem-underline() {
        visibility: visible;
        width: 100%;
}

.menuitem {
    margin-left: 35px;
    position: relative;
    padding-bottom: 1px;

    
    a { 
        text-decoration: none;
        color: $color-white;
    }
    a:hover {
        color: $color-white;
        text-decoration: none;
    }
    a:before {
        content: "";
        position: absolute;
        bottom: -12px;
        width: 0%;
        left: 0;
        height: 5px;
        background-color: $color-white;
        z-index: 2000;
        transition: width 0.2s ease-in-out 0s;
      
    }
    a:hover:before{
        @include menuitem-underline();
    }

    .menuitem-active {
        color: $color-orange;
    }
    .menuitem-active:before {
         @include menuitem-underline();
         background-color: $color-orange;
    }    

}




