<div class="werkwijze">

    <div class="page-row">
        <div class="container">
            
            <wd-pageheader header="Werkwijze"></wd-pageheader>

<div class="steps">               
           <div class="row equal-height">
               <div class="col-sm-6 step">

                   <div class="title"invp [invp-animation]="'fadeInRight'">Stap 1</div>
                   <div class="word"invp [invp-animation]="'fadeInRight'">kennismaking</div>
                 
                </div>
                <div class="col-sm-6 step-detail">
                   <p>Elke website is <i>uniek</i> !</p>
                    <p>
                        In een verkennend <i>gesprek</i> bespreken we uw wensen en voorkeuren. We bekijken de mogelijkheden om uw huisstijl in de website te verwerken en u levert de nodige content aan die op je site moet komen.
                    </p>
                </div>
            </div>


           <div class="row equal-height">
                <div class="col-sm-6 step-detail hidden-xs">
                    <p>
                        Op basis van ons gesprek ga ik aan de slag en maak in een <i>ontwerp</i>. 
                    </p>
                                        <p>
                        U wordt voortdurend mee betrokken tijdens de uitwerking zodat ik uw feedback kan verwerken.
                    </p>
                </div>               
               <div class="col-sm-6 step">
                   <div class="title"invp [invp-animation]="'fadeInLeft'">Stap 2</div>
                   <div class="word"invp [invp-animation]="'fadeInLeft'">Ontwerp</div>
                   <div class="word-2"invp [invp-animation]="'fadeInLeft'">Afstemmen</div>
                 
                </div>
                <div class="col-sm-6 step-detail visible-xs-block">
                    <p>
                        Op basis van ons gesprek ga ik aan de slag en maak in een <i>ontwerp</i>. 
                    </p>
                                        <p>
                        U wordt voortdurend mee betrokken tijdens de uitwerking zodat ik uw feedback kan verwerken.
                    </p>
                </div>      
            </div>

           <div class="row equal-height">
               <div class="col-sm-6 step">
                   <div class="title"invp [invp-animation]="'fadeInRight'">Stap 3</div>
                   <div class="word"invp [invp-animation]="'fadeInRight'">Domeinnaam</div>
                   <div class="word-2"invp [invp-animation]="'fadeInRight'">Hosting</div>
                 
                </div>
                <div class="col-sm-6 step-detail">
                    <p>
                        Wanneer u tevreden bent over het ontwerp plaats ik de website <i>online</i>. Ik vraag een domeinnaam (bijvoorbeeld webdes.be) aan en reserveer de nodige webruimte om uw website online te plaatsen.
                    </p>
                </div>
            </div>


           <div class="row equal-height">
                <div class="col-sm-6 step-detail hidden-xs">
                    <p>
                        Uw website staat nu online en kan dus door iedereen bekenen worden. 
                    </p>
                    <p>
                        Indien u toch nog een foutje vindt wordt dit uiteraard opgelost. Aanpassingen aan de website blijven uiteraard altijd mogelijk.    
                    </p>
                </div>               
               <div class="col-sm-6 step">
                   <div class="title"invp [invp-animation]="'fadeInLeft'">Stap 4</div>
                   <div class="word"invp [invp-animation]="'fadeInLeft'">Online</div>
                   <div class="word-2"invp [invp-animation]="'fadeInLeft'">Support</div>
                 
                </div>
                                <div class="col-sm-6 step-detail visible-xs-block">
                    <p>
                        Uw website staat nu online en kan dus door iedereen bekenen worden. 
                    </p>
                    <p>
                        Indien u toch nog een foutje vindt wordt dit uiteraard opgelost. Aanpassingen aan de website blijven uiteraard altijd mogelijk.    
                    </p>
                </div>     
            </div>            
</div>
        </div>
    </div>
</div>





