<div class="prijzen">


    <div class="page-row intro">
        <div class="container">
           
             <wd-pageheader header="Prijzen"></wd-pageheader>


   <div class="page-row-no-space kosten">
        <div class="container">
            <div class="row equal-height">
                   
                   <div class="col-md-4 kost kost-creatie" invp [invp-animation]="'fadeInRight'">
                        <div class="title">Website</div>
                        <div class="prijs">
                            <span class="bedrag">prijs op aanvraag</span>
                        </div>
                        <div class="prijsshade"></div>
                        <div class="info">
                                Uw website wordt <i>op maat gemaakt</i>. Afhankelijk van de grootte en complexiteit wordt de prijs bepaald.
                           
                                <div class="height-small"></div>
                                Elke website wordt voorzien van:
                                <ul>
                                    <li>een <i>responsief ontwerp</i>, zodat hij toegankelijk is op pc, tablet en smartphone.</li>
                                    <li><i>search-optimalisatie</i>, zodat hij hoog scoort bij search engines zoals Google.</li>
                                </ul>
                        
                        </div>
                   </div>

                   <div class="col-md-4 kost kost-hosting"  invp [invp-animation]="'fadeInUp'">
                        <div class="title">Hosting</div>
                        <div class="prijs">
                            <span class="bedrag">&#8364; 49</span> per jaar
                        </div>
                         <div class="prijsshade"></div>
                        <div class="info">
                            De websites worden gehost bij een partner. 
                            <div class="height-small"></div>
                            Het standaard pakket bevat:
                            <ul>
                                <li>uw domeinnaam</li>
                                <li>5 e-mail adressen</li>
                                <li>hosting van uw website</li>
                            </ul>
                            <div class="height-small"></div>
                                Dit pakket volstaat voor de meeste websites. Indien u extra wensen hebt, wordt de prijs hierop afgestemd.
                            
                           
                           
                        </div>
                      
                   </div>


                   <div class="col-md-4 kost kost-extra"  invp [invp-animation]="'fadeInLeft'">
                         <div class="title">Foto's</div>
                            <div class="prijs">
                                vanaf <span class="bedrag">&#8364; 8</span> per foto
             
                            </div>
                             <div class="prijsshade"></div>
                            <div class="info">
                                Niet elke foto die u op internet vindt mag u op uw website plaatsen. Meestal dient u een licentie aan te kopen om die foto's te mogen gebruiken. 
                                <div class="height-small"></div>
                                Er zijn talrijke online bibliotheken beschikbaar waar u professionele foto'skan aan kopen.
                                </div>
                      
                   </div>


                
        </div>
    </div>

           
        </div>
    </div>
   


 


</div>
