//media query's
$md-min: 992px;
$sm-max: 991px;
$sm-min: 768px;
$xs-max: 767px;




//colors

$color-white: #ffffff;

$color-blue-min4: #9BC3F7; 
$color-blue-min3: #6095DB;
$color-blue-min2: #396FB5;
$color-blue-min1: #174C91;
$color-blue: #0C3770;
$color-blue-plus1: #052F66;
$color-blue-plus2: #022859;
$color-blue-plus3: #00214C;
$color-blue-plus4: #001C42;

$color-green-min4: #C4E9EF; 
$color-green-min3: #89C8D3;
$color-green-min2: #53A6B5;
$color-green-min1: #257E8E;
$color-green: #0C6170;
$color-green-plus1: #035260;
$color-green-plus2: #024754;
$color-green-plus3: #003E49;
$color-green-plus4: #00363F;


$color-orange-min4: #FFAA7F; 
$color-orange-min3: #FF8D54;
$color-orange-min2: #FF7F3F;
$color-orange-min1: #FC742F;
$color-orange: #FC6A21;
$color-orange-plus1: #F7641B;
$color-orange-plus2: #EF5B10;
$color-orange-plus3: #DB4E08;
$color-orange-plus4: #CC4604;

$color-gray-min4: #F7F8F9; 
$color-gray-min3: #EAEDEF;
$color-gray-min2: #A9AEB2;
$color-gray-min1: #90969B;
$color-gray: #798086;
$color-gray-plus1: #57626B;
$color-gray-plus2: #35414C;
$color-gray-plus3: #232E38;
$color-gray-plus4: #131B23;



//font size

$font-sub: 12px;

$font-text-min2: 14px;
$font-text-min1: 16px;
$font-text: 18px;
$font-text-plus1: 20px;
$font-text-plus2: 22px;
$font-text-plus3: 24px;
$font-text-plus4: 26px;

$font-h3: 28px;
$font-h2: 38px;
$font-h1: 52px;

$font-jumbo:  86px;





//space

$space-half: 7.5px;
$space-small: 15px;
$space-medium: 30px;
$space-large: 50px;
$space-xlarge: 75px;







