




.webdes-logo {
    letter-spacing: 2px;
    font-size: 38px;
    color: $color-white;
    text-transform: uppercase;
}
.webdes-logo-ign {
    letter-spacing: 2px;
    font-size: 32px;
    color: $color-blue-min2;
    padding-left: 4px;
    text-transform: lowercase;
}           

